.App {
  background-color: white;
  color: black;

}

.dark-theme {
  background-color: black;
  color: white;

}
html,
body {
  height: 100%;
  width: 100%;
}
div {
  display : grid; 
  min-height: 100%;
}